<div class=" text-center">
	<!-- <p>{{ tagline }}</p> -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4 noPaddings">
				<div class="panel panel-default ">
					<div class="panel-heading">Feature Inspection View</div>
					<div class="panel-body" id='wordList'></div>
				</div>
			</div>

			<div class="col-md-4 noPaddings">
				<div class="panel panel-default">
					<div class="panel-heading">City Map View
					</div>
					<div style="text-align: left;">
					<label><input type="checkbox" value="" id='mapSelect'>Select Points</label>
					</div>
					<div class="panel-body" id='map'>
					</div>
				</div>
			</div>
			<div class="col-md-4 noPaddings">
				<div class="panel panel-default">
					<div class="panel-heading">Statistical View</div>
					<div class="panel-body" id="divBarChart">
					<svg style="width:100%;height:100%;" id='barChart'>
					</svg>
					</div>
				</div>
			</div>

		</div>
	</div>
<div id="tooltip">
        <svg xmlns="http://www.w3.org/2000/svg" width="100px" height="100px" />
</div>
</div>
