<!DOCTYPE html>
<html>
  <head>
    <title>Mashup</title>
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <script src="vendor/angular.min.js"></script>
    <script type="text/javascript" src="js/index.js"></script>


  </head>
  <body>

  	<div data-ng-app="myApp" data-ng-controller="myCtrl">
  	<!-- <input type="file" file-model="businessList"><button ng-click="uploadFile()">Upload JSON of Business</button> -->
  	{{business_number}}
  	<button ng-click="downloadLabeledData()">Download</button>
	</div>

  </body>
</html>